# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Visual Studio ignores
*.suo
*.sdf
*.opensdf
*.user
*.ipch
*.tlog
*.lastbuildstate
*.log
*.onetoc2
*.obj
*.cache
*.pdb
*.idb
*.bak
*.orig
*.cod
*.fxo